apiVersion: v1
kind: Service
metadata:
  name: demo-frontend
  namespace: demo-app
spec:
  selector:
    app: demo-frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
  type: ClusterIP
